.full-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.quiz-box {
  width: 450px;
  background: white;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 0 20px black;
  font-family: Comic Sans MS;
}

button {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  border-radius: 10px;
  border: none;
  background: pink;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: lightgreen;
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  color: white;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.correct {
  background: rgba(0,128,0,0.9);
}

.wrong {
  background: rgba(255,0,0,0.9);
}

@keyframes pop {
  from { transform: scale(0.5); }
  to { transform: scale(1); }
}
