<div class="full-screen">
    <div class="quiz-box">
  <h2>😂 Fun AdTech Quiz</h2>

  <h3>Question {{quizState.currentQuestion+1}} / {{questions.length}}</h3>

  <h4>{{questions[quizState.currentQuestion].q}}</h4>

<button *ngFor="let opt of questions[quizState.currentQuestion].options; let i = index"
        (click)="selectAnswer(i)">
  {{opt}}
</button>

  <div class="popup correct" *ngIf="showCorrect">
  🎉 Correct Answer! You are Genius 😎
</div>
<h3>⏱ Time Left: {{timeLeft}} seconds</h3>

<div class="popup wrong" *ngIf="showWrong">
😵‍💫🤦‍♀️ Oops! Wrong Answer! Brain Loading...🤡
</div>



 <p>Score: {{quizState.score}}</p>

</div>
</div>