/* You can add global styles to this file, and also import other style files */
body, html {
  height: 100%;
  margin: 0;
  background: linear-gradient(135deg, #ffeb3b, #ff9800);
}
body, html {
  height: 100%;
  margin: 0;
}
app-root {
  display: block;
  height: 100%;
}
.category-page {
  height: 100vh; /* FULL SCREEN */
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff9a00, #ffcf33);
}

.category-card {
  background: white;
  padding: 40px 60px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.3);
  animation: pop 0.5s ease;
}

.category-card h1 {
  font-size: 30px;
  margin-bottom: 25px;
  color: #333;
}

.category-card button {
  width: 260px;
  padding: 14px;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
  border-radius: 12px;
  border: none;
  cursor: pointer;
  background: linear-gradient(45deg, #2575fc, #6a11cb);
  color: white;
  transition: 0.3s;
}

.category-card button:hover {
  transform: scale(1.08);
  background: linear-gradient(45deg, #ff416c, #ff4b2b);
}

/* Animation */
@keyframes pop {
  from { transform: scale(0.5); opacity: 0; }
  to { transform: scale(1); opacity: 1; }
}
